#!/bin/bash

virt-install \
--accelerate \
--connect qemu:///system \
--name {{ item['key'] }} \
--ram {{ item['value']['memory'] }} \
--import --disk path={{ dest_images_dir }}/{{ item['key'] }}.img,bus=scsi \
{% if item['value']['osds'] is defined %}
{%   for osd in item['value']['osds'] %}
--disk path={{ osd['src'] }},bus=scsi \
{%   endfor %}
{% endif %}
{% if item['value']['journals'] is defined %}
{%   for journal in item['value']['journals'] %}
--disk path={{ journal['src'] }},bus=scsi \
{%   endfor %}
{% endif %}
--vcpus {{ item['value']['vcpus'] }} \
--os-type linux \
--os-variant generic \
{% for net in item['value']['networks'] %}
--network bridge={{ net }} \
{% endfor %}
--graphics none \
--console pty,target_type=serial \
--virt-type kvm \
--noautoconsole
